div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#Image1
{
   border-width: 0;
   display:inline-block;
   width: 443px;
   height: auto;
}
#header
{
   display: -webkit-flex;
   display: flex;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 7777;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-between;
   justify-content: space-between;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #000000;
   background-color: rgba(0,0,0,0.50);
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#arrow
{
   display: -webkit-flex;
   display: flex;
   min-height: 100vh;
   padding: 10px 10px 25px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   background-color: transparent;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#home
{
   display: -webkit-flex;
   display: flex;
   min-height: 100vh;
   padding: 60px 50px 60px 50px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: center;
   align-content: center;
   background-color: transparent;
   background-image: url(images/oliebol1.png);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Heading1
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading1
{
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#portfolio
{
   display: -webkit-flex;
   display: flex;
   padding: 50px 100px 25px 100px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Heading2
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading2
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Shape1
{
   width: 154px;
   height: 31px;
   background-color: #2196F3;
   background-image: none;
   border: 1px #2196F3 solid;
   border-radius: 4px;
}
#Shape1_text
{
   position: absolute;
   left: 2px;
   top: 5px;
   width: 148px;
   height: 22px;
   overflow: hidden;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#gallery2
{
   display: -webkit-flex;
   display: flex;
   padding: 100px 100px 100px 100px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: transparent;
   background-image: url(images/oliebol%20je%20nee.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-position: 50% 0;
   background-size: cover;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#Shape2
{
   width: 132px;
   height: 4px;
   background-color: #2196F3;
   background-image: none;
   border: 0px #2196F3 solid;
}
#Shape2_text
{
   position: absolute;
   left: 1px;
   top: 1px;
   width: 130px;
   height: 2px;
   overflow: hidden;
   text-align: center;
}
#services
{
   display: -webkit-flex;
   display: flex;
   padding: 50px 100px 25px 100px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #F7F7F7;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#service_container
{
   display: -webkit-flex;
   display: flex;
   padding: 25px 0px 50px 0px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #F7F7F7;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#service3
{
   display: -webkit-flex;
   display: flex;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: #FFF5EE;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#service1
{
   display: -webkit-flex;
   display: flex;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: auto;
   align-self: auto;
   background-color: #FFF5EE;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#reviews
{
   display: -webkit-flex;
   display: flex;
   padding: 50px 25px 50px 25px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#newsletter
{
   display: -webkit-flex;
   display: flex;
   padding: 50px 25px 50px 25px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #F7F7F7;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#social
{
   display: -webkit-flex;
   display: flex;
   padding: 50px 100px 25px 100px;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #414A4F;
   background-image: none;
   border: 0px #414A4F solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#footer
{
   display: -webkit-flex;
   display: flex;
   padding: 25px 100px 50px 100px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   background-color: #414A4F;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text3
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_FontAwesomeIcon3
{
   background-color: #ECEDED;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon3:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon3
{
   height: 28px;
   width: 28px;
}
#FontAwesomeIcon3 i
{
   color: #414A4F;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 16px;
}
#wb_FontAwesomeIcon3:hover i
{
   color: #414A4F;
}
#wb_FontAwesomeIcon8
{
   background-color: #ECEDED;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon8:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon8
{
   height: 28px;
   width: 28px;
}
#FontAwesomeIcon8 i
{
   color: #414A4F;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 26px;
}
#wb_FontAwesomeIcon8:hover i
{
   color: #414A4F;
}
#wb_FontAwesomeIcon10
{
   background-color: #ECEDED;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon10
{
   height: 28px;
   width: 28px;
}
#FontAwesomeIcon10 i
{
   color: #414A4F;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #414A4F;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Heading3
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading3
{
   color: #414A4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#Heading3 a
{
   color: #414A4F;
   text-decoration: none;
}
#wb_FontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon2:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon2
{
   height: 48px;
   width: 59px;
}
#FontAwesomeIcon2 i
{
   color: #2196F3;
   display: inline-block;
   font-size: 48px;
   line-height: 48px;
   vertical-align: middle;
   width: 41px;
}
#wb_FontAwesomeIcon2:hover i
{
   color: #2196F3;
}
#wb_Heading4
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading4
{
   color: #414A4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#Heading4 a
{
   color: #414A4F;
   text-decoration: none;
}
#service2
{
   display: -webkit-flex;
   display: flex;
   padding: 10px 10px 10px 10px;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-flex-wrap: nowrap;
   flex-wrap: nowrap;
   -webkit-justify-content: space-around;
   justify-content: space-around;
   -webkit-align-items: center;
   align-items: center;
   -webkit-align-content: flex-start;
   align-content: flex-start;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-flex-basis: 30%;
   flex-basis: 30%;
   -webkit-align-self: center;
   align-self: center;
   background-color: #FFF5EE;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#wb_FontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon4:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon4
{
   height: 48px;
   width: 81px;
}
#FontAwesomeIcon4 i
{
   color: #2196F3;
   display: inline-block;
   font-size: 48px;
   line-height: 48px;
   vertical-align: middle;
   width: 48px;
}
#wb_FontAwesomeIcon4:hover i
{
   color: #2196F3;
}
#wb_Heading5
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading5
{
   color: #414A4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#Heading5 a
{
   color: #414A4F;
   text-decoration: none;
}
#wb_FontAwesomeIcon5
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon5:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon5
{
   height: 48px;
   width: 58px;
}
#FontAwesomeIcon5 i
{
   color: #2196F3;
   display: inline-block;
   font-size: 48px;
   line-height: 48px;
   vertical-align: middle;
   width: 51px;
}
#wb_FontAwesomeIcon5:hover i
{
   color: #2196F3;
}
#wb_Heading6
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading6
{
   color: #414A4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   margin: 0;
   text-align: center;
}
#Heading6 a
{
   color: #414A4F;
   text-decoration: none;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 10px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Heading7
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 0px 0px 0px 0px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading7
{
   color: #414A4F;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text7 div
{
   text-align: center;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 25px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Heading8
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   padding: 10px 10px 10px 10px;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
}
#Heading8
{
   color: #696969;
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   margin: 0;
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: stretch;
   align-self: stretch;
   padding: 10px 10px 25px 10px;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#Shape6
{
   width: 132px;
   height: 4px;
   background-color: transparent;
   background-image: none;
   border: 0px #2196F3 solid;
}
#Shape6_text
{
   position: absolute;
   left: 1px;
   top: 1px;
   width: 130px;
   height: 2px;
   overflow: hidden;
   text-align: center;
}
#Banner2
{
   background-color: transparent;
   background-image: none;
   border: 0px #2196F3 solid;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: bold;
   font-style: italic;
   font-size: 19px;
   text-align: center;
}
#Banner2 span
{
   display: block;
   height: 19px;
   margin: 8px 0px 8px 0px;
}
#Banner2
{
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_CssMenu2
{
   border: 0px #C0C0C0 solid;
   background-color: transparent;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_CssMenu2 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu2 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 80px;
}
#wb_CssMenu2 a
{
   display: block;
   float: left;
   color: #FFFFFF;
   border: 0px #CCCCCC solid;
   background-color: #FFFFFF;
   background-color: rgba(255,255,255,0.00);
   background-image: none;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 70px;
   height: 40px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 40px;
   text-align: center;
}
#wb_CssMenu2 li:hover a, #wb_CssMenu2 a:hover
{
   color: #FFFFFF;
   background-color: #2196F3;
   background-image: none;
   border: 0px #2E6DA4 solid;
}
#wb_CssMenu2 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu2 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu2 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_FontAwesomeIcon6
{
   background-color: transparent;
   background-image: none;
   border: 2px #2196F3 solid;
   text-align: center;
   padding: 4px 4px 4px 4px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon6:hover
{
   background-color: transparent;
   background-image: none;
   border: 2px #FFFFFF solid;
}
#FontAwesomeIcon6
{
   height: 36px;
   width: 38px;
}
#FontAwesomeIcon6 i
{
   color: #2196F3;
   display: inline-block;
   font-size: 36px;
   line-height: 36px;
   vertical-align: middle;
   width: 23px;
}
#wb_FontAwesomeIcon6:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon7
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
   text-align: center;
   padding: 0px 0px 0px 0px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon7:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon7
{
   height: 48px;
   width: 68px;
}
#FontAwesomeIcon7 i
{
   color: #2196F3;
   display: inline-block;
   font-size: 48px;
   line-height: 48px;
   vertical-align: middle;
   width: 41px;
}
#wb_FontAwesomeIcon7:hover i
{
   color: #2196F3;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text11 div
{
   text-align: left;
}
#wb_Text12 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text12
{
   font-family: Arial;
   font-weight: normal;
   font-size: 21px;
}
#wb_Text12 div
{
   text-align: left;
}
#wb_FontAwesomeIcon1
{
   background-color: #ECEDED;
   background-image: none;
   border: 0px #FFFFFF solid;
   border-radius: 2px;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 6px 6px 6px 6px;
   vertical-align: top;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px #FFFFFF solid;
}
#FontAwesomeIcon1
{
   height: 28px;
   width: 28px;
}
#FontAwesomeIcon1 i
{
   color: #414A4F;
   display: inline-block;
   font-size: 28px;
   line-height: 28px;
   vertical-align: middle;
   width: 24px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #414A4F;
}
#wb_Text13 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   -webkit-flex-grow: 0;
   flex-grow: 0;
   -webkit-flex-shrink: 0;
   flex-shrink: 0;
   -webkit-align-self: auto;
   align-self: auto;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text13 div
{
   text-align: center;
}
#arrow
{
   position: absolute !important; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
//   z-index: 1;
}
